---
title: Search
layout: page
lunr_exclude: true
---

<div id="search-form" style="display: none">
    <input type="text" name="q" id="q">
    <button id="search-button">Search</button>
</div>

<div id="search-results">
</div>

<script src="{{ "/assets/js/underscore-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/search/lunr.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script type="text/template" id="results-tpl">
  <ul class="post-list">
  <% _.each(results, function(result) { 
    if (result.title) { %>
    <li>
      <h2>
        <a class="post-link" href="<%= result.url %>"><%= result.title %></a>
      </h2>
    </li>
  <% 
    }
  }); %>
  </ul>
</script>

<script type="text/javascript">
(function ($) {
    var index;
    var pages = [];
    var results_tpl;

    $(document).ready(function () {
        results_tpl = _.template($('#results-tpl').html());
        index = lunr(function () {
            this.field('title', {boost: 10});
            this.field('body');
        });

        $.getJSON('{{ "/search/search_entries.json" | prepend: site.baseurl }}').done(function(entries) {
            _.each(entries, function(entry) {
                if (entry.category == '') return;
                index.add(entry);
                pages.push({ id: entry.id, title: entry.title, url: entry.url });
            });
            $('#search-form').show();
            $(window).trigger("hashchange");
        });        
    });

    $('#search-button').click(function() {
        var q = $('#q').val();
        if (q) {
            window.location.hash = '#q=' + encodeURIComponent(q);
        }
    });

    $(window).bind("hashchange", function() {
        var pairs = window.location.hash.substring(1).split('&');

        var params = {};
        _.each(pairs, function(pair) {
            pair = pair.split('=');
            params[pair[0]] = decodeURIComponent(pair[1] || '');
        });

        if (params.q) {
            $('#q').val(params.q);
            var matches = index.search(params.q);
            if (matches && matches.length > 0) {
                var results = _.map(matches, function (match) {
                    return _.findWhere(pages, {id: match.ref});
                });
                $('#search-results').html(results_tpl({results: results}));
            } else {
                $('#search-results').html('Nothing found.');
            }
        }
    })
})(jQuery);
</script>