$base-unit: 0.25rem;
$text-unit: 0.25em;

@mixin margin($dir, $value) {
  @if $value == auto {
    margin-#{$dir}: auto;
  } @else {
    margin-#{$dir}: $value * $base-unit;
  }
}

@mixin margin-text($dir, $value) {
  margin-#{$dir}: $value * $text-unit;
}

@mixin margin-all($value) {
  @if $value == auto {
    margin: auto;
  } @else {
    margin: $value * $base-unit;
  }
}

@mixin margin-x($value) {
  @include margin(left, $value);
  @include margin(right, $value);
}

@mixin margin-y($value) {
  @include margin(top, $value);
  @include margin(bottom, $value);
}

@mixin padding($dir, $value) {
  padding-#{$dir}: $value * $base-unit;
}

@mixin padding-text($dir, $value) {
  padding-#{$dir}: $value * $text-unit;
}

@mixin padding-all($value) {
  padding: $value * $base-unit;
}

@mixin padding-x($value) {
  @include padding(left, $value);
  @include padding(right, $value);
}

@mixin padding-y($value) {
  @include padding(top, $value);
  @include padding(bottom, $value);
}
