<nav class="doc-header" x-data="docHeader()" @click.away="open = false">
    <div class="wrapper">
        {% include doctree.html level=3 title=true alpinejs=true %}
    </div>
</nav>

<script type="text/javascript">
    function docHeader() {
        return {
            open: false,

            title: {
                ['@click']() {
                    this.open = !this.open;
                }
            },

            sections: {
                ['x-show']() {
                    return this.open;
                }

                // use transition: height .3s linear and height:0!important instread of display: none
            }
        }
    }
</script>
