{%- assign sections = collections.all | eleventyNavigation: key  -%}

{%- if section_headings -%}
  {%- assign section_tag = 'div' -%}
  {%- capture section_title_tag -%}h{{ section_headings }}{%- endcapture -%}  
{%- else -%}
  {%- assign section_tag = 'li' -%}
  {%- assign section_title_tag = 'div' -%}
{%- endif -%}

<div class="doc-sections">
  {%- unless section_headings -%}
  <ul>
  {%- endunless -%}
    {% for section in sections %}
      {%- assign section_current = false -%}
      {%- for item in section.children -%}
        {%- if item.url == page.url -%}{%- assign section_current = true -%}{%- endif -%}
      {%- endfor -%}
      <{{ section_tag }} class="doc-section" data-key="{{ section.key }}" data-order="{{ section.order }}" {% if section_widget %}x-data="{ open: {{section_current}} }" x-bind:class="{ 'doc-section-current': open }"{% endif %}>
        <{{ section_title_tag }} class="doc-section-title"
          {% if section_headings %}id="{{ section.title | slugify }}"{% endif %}
          {% if section_widget %}x-on:click="open = !open"{% endif -%}
        >
          {%- if section_widget %}<div class="doc-section-expander"><svg viewBox="0 0 24 24"><use xlink:href="#svg-expander"></use></svg></div>{% endif %}
          <div class="doc-section-title-text">{{ section.title }}</div>
        </{{ section_title_tag }}>

<ul>
          {%- for item in section.children %}
            {%- if item.url == page.url -%}
              {%- assign item_class = "current" -%}
            {%- else -%}
              {%- assign item_class = "" -%}
            {%- endif -%}
            <li class="doc-item {{ item_class }}" data-key="{{ item.key }}" data-order="{{ item.order }}"><a href="{{ item.url }}">{{ item.title }}</a>
{%- if item.url == page.url -%}
{{ content | toc: '{"tags": ["h2"], "ul": true, "wrapperClass": "doc-toc"}' }}
{%- endif -%}
</li>
          {% endfor -%}
        </ul>
      </{{ section_tag }}>
    {% endfor %}

  {%- unless section_headings -%}
  </ul>
  {%- endunless -%}
</div>