{% if include.doctree %}
    {% assign doctree = site.data[include.doctree] %}
{% else %}
    {% assign doctree = site.data[page.doctree] %}
{% endif %}

{% if include.section_headings %}
  {% assign section_tag = 'div' %}
  {% capture section_title_tag %}h{{ include.section_headings }}{% endcapture %}  
  {% if include.title %}
    {% capture title_tag %}h{{ include.section_headings | minus: 1 }}{% endcapture %}
  {% endif %}
{% else %}
  {% assign section_tag = 'li' %}
  {% assign section_title_tag = 'div' %}
  {% if include.title %}
    {% capture title_tag %}{{ include.title }}{% endcapture %}
  {% endif %}
{% endif %}


{% if include.title %}
  <{{ title_tag }} class="doc-title" {% if include.alpinejs %}x-spread="title"{% endif %}>{{ doctree.title }}&nbsp;&nbsp; </{{ title_tag }}>
{% endif %}

<div class="doc-sections" {% if include.alpinejs %}x-spread="sections" x-cloak {% endif %}>
  {% unless include.section_headings %}
  <ul>
  {% endunless %}
    {% for section in doctree.sections %}
    <{{ section_tag }} class="doc-section">
        <{{ section_title_tag }} class="doc-section-title" {% if include.section_headings %}id="{{ section.title | replace:' ','-' | downcase }}"{% endif %}>{{ section.title }}</{{ section_title_tag }}>

        <ul>
        {% for item in section.docs %}
            {% assign item_url = item | prepend:"/docs/" | append:"/" %}
            {% if item_url == page.url %}
                {% assign cls = "current" %}
            {% else %}
                {% assign cls = "" %}
            {% endif %}
            {% for p in site.docs %}
                {% if p.url == item_url %}
                    <li class="{{ cls }}"><a href="{{ site.url }}{{ p.url }}">{{ p.title }}</a></li>
                    {% break %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </ul>
    </{{ section_tag }}>
    {% endfor %}

  {% unless include.section_headings %}
  </ul>
  {% endunless %}
</div>