{% if include.doctree %}
    {% assign doctree = site.data[include.doctree] %}
{% else %}
    {% assign doctree = site.data[page.doctree] %}
{% endif %}

{% if include.level %}
    {% assign level = include.level %}
{% else %}
    {% assign level = 4 %}
{% endif %}
{% capture title_level %}{{ level | minus:1 }}{% endcapture %}

{% if include.title %}
<h{{title_level}} {% if include.alpinejs %}x-spread="title"{% endif %}>{{ doctree.title }}&nbsp;&nbsp; </h{{title_level}}>
{% endif %}

<div class="doc-sections" {% if include.alpinejs %}x-spread="sections" x-cloak {% endif %}>
    {% for section in doctree.sections %}
    <div class="doc-section">
        <h{{level}} id="{{ section.title | replace:' ','-' | downcase }}">{{ section.title }}</h{{level}}>

        <ul>
        {% for item in section.docs %}
            {% assign item_url = item | prepend:"/docs/" | append:"/" %}
            {% if item_url == page.url %}
                {% assign cls = "current" %}
            {% else %}
                {% assign cls = "" %}
            {% endif %}
            {% for p in site.docs %}
                {% if p.url == item_url %}
                    <li class="{{ cls }}"><a href="{{ site.url }}{{ p.url }}">{{ p.title }}</a></li>
                    {% break %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>