<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">    
  <symbol id="svg-search" viewBox="0 0 24 24">
    <title>Search</title>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
      <circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
  </symbol>
  <symbol id="svg-menu" viewBox="0 0 24 24">
    <title>Menu</title>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
      <line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line>
    </svg>
  </symbol>
</svg>

<header class="site-header" x-data="{ open: false }">
  <div class="wrapper">

    <nav class="site-nav">
      <div class="site-title">
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>

      <div class="menu-icon">
      <a href="#" x-on:click.prevent="open = !open">
        <svg viewBox="0 0 24 24">
          <use xlink:href="#svg-menu"></use>
        </svg>
      </a>
      </div>

      <div class="nav-links" x-bind:class="{ 'nav-links-open': open }" x-on:click.away="open = false">
        {% assign navPages = collections.all | eleventyNavigation %}

        {% for link in navPages %}

          {%- assign link_url = link.url | append:"/" -%}
          {%- if link_url == page.url -%}
          {%- assign current_class = "current" -%}
          {%- else -%}
          {%- assign current_class = "" -%}
          {%- endif -%}

          <a class="nav-link {{ current_class }} {% if link.menuClass %}{{ link.menuClass }}{% endif %}" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>          
        {% endfor %}

        <a class="nav-link nav-link-search" href="{{ '/search' | prepend: site.baseurl }}">
          <svg viewBox="0 0 24 24">
            <use xlink:href="#svg-search"></use>
          </svg>
        </a>
      </div>
    </nav>

  </div>
</header>
