/**
 * Basic styling
 */
html {
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  @include margin(bottom, 2);
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $font-small;
}



/**
 * Lists
 */
ul, ol, dd {
  @include padding(left, 6);
}

dt { font-weight: bold; }



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
h2 { font-size: $font-xxlarge; }
h3 { font-size: $font-xlarge; }
h4, h5, h6 { font-size: $font-large; }


/**
 * Links
 */
a {
    color: $brand-color;
    font-weight: bold;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: rgba($text-color, 0.1);
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        background-color: transparent;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Tables
 */
/* =============================================================

    Tables v1.0
    Simple table styling by Chris Ferdinandi.
    http://gomakethings.com

    Adapted from Twitter Bootstrap.
    http://twitter.github.com/bootstrap/

    Licensed under the Apache License v2.0
    http://www.apache.org/licenses/LICENSE-2.0

 * ============================================================= */
//  Removes default browser settings and evens out inconsistencies.
table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

//  Sets table width to 100%. Adds bottom-margin.
.table {
    width: 100%;
    margin-bottom: $spacing-unit / 2;
}

//  Adds table cell padding, and adds a top border to each cell.
.table th, .table td {
    padding: $table-padding;
    border-top: 1px solid $grey-color-light;
}

//  Sets table header font-weight to bold.  Aligns table header text to the bottom of each cell.
.table th {
    font-weight: bold;
    color: #ffffff;
    background-color: $grey-color;
    text-align: left;
    vertical-align: bottom;
}

//  Aligns cell text to the top of each cell.
.table td {
   vertical-align: top;
}

//  Removes the border-top from the first row.
.table thead:first-child tr th,
.table thead:first-child tr td {
    border-top: 0;
}

//  Adds border-top between two table-body sections.
.table tbody + tbody {
    border-top: 1px solid $grey-color-light;
}

.table-banded tr.even td {
    background-color: $grey-color-super-light;
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


/**
 * AlpineJS
 */
[x-cloak] { display: none; }