@use "util/typography" as *;
@use "util/spacing" as *;

/**
 * Basic styling
 */
html {
  font-weight: 300;
  color: var(--text-color);
  background-color: var(--background-color);
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  @include margin-text(bottom, 2);
}


/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $font-small;
}



/**
 * Lists
 */
ul, ol, dd {
  @include padding-text(left, 6);
}

dt { font-weight: bold; }



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
h2 { font-size: $font-xxlarge; }
h3 { font-size: $font-xlarge; }
h4, h5, h6 { font-size: $font-large; }


/**
 * Links
 */
a {
  color: var(--brand-color);
  font-weight: bold;
  text-decoration: none;

  &:visited {
    color: var(--brand-color-dark);
  }

  &:hover {
    color: var(--text-color);
    text-decoration: underline;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: var(--grey-color);
  border-left: 4px solid var(--grey-color-light);
  @include padding(left, 4);
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre, code {
  font-size: $font-small;
  border-radius: 3px;
  background-color: rgba(var(--text-color), 0.1);
}

// Don't reduce font size in headings
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code { font-size: inherit; }

code { padding: 0.2em 0.4em; }

pre.highlight { background-color: rgba(var(--text-color), 0.1); }
pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    background-color: transparent;
    padding: 0;
  }
}


/**
 * Tables
 */
//  Removes default browser settings and evens out inconsistencies.
table {
  max-width: 100%;
  border-spacing: 0;
}

//  Sets table width to 100%. Adds bottom-margin.
.table {
  width: 100%;
  @include margin(bottom, 2);
}

//  Adds table cell padding, and adds a top border to each cell.
.table th, .table td {
  @include padding-all(1);
  border-top: 1px solid var(--grey-color-light);
}

//  Sets table header font-weight to bold.  Aligns table header text to the bottom of each cell.
.table th {
  font-weight: bold;
  color: #ffffff;
  background-color: var(--grey-color);
  text-align: left;
  vertical-align: bottom;
}

//  Aligns cell text to the top of each cell.
.table td {
  vertical-align: top;
}

//  Removes the border-top from the first row.
.table thead:first-child tr th,
.table thead:first-child tr td {
  border-top: 0;
}

//  Adds border-top between two table-body sections.
.table tbody + tbody {
  border-top: 1px solid var(--grey-color-light);
}

.table-banded tr.even td {
  background-color: var(--grey-color-super-light);
}


/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

