/**
 * Wrappers
 */
.wrapper {
  width: 100%;
  @include margin-x(auto);
  @include padding-x(4);

  @include breakpoint($bp-small) { max-width: $bp-small }
  @include breakpoint($bp-medium) { max-width: $bp-medium }
  @include breakpoint($bp-large) { max-width: $bp-large }
  @include breakpoint($bp-xlarge) { max-width: $bp-xlarge }
}

/**
 * Main content
 */
main {
  max-width: 0.75 * $bp-xlarge;
  @include padding-y(4);
}

/**
 * Sidebars
 */
@include breakpoint($bp-large) {
  .sidebar-container {
    display: flex;
    width: 100%;

    main {
      flex: 1 1 auto;
      @include padding(left, 6);
    }
  }
}

.sidebar {
  @include margin-y(2);
  @include padding-y(1);
  @include padding-x(1);

  @include breakpoint($bp-large) { 
    display: block; 
    width: calc($bp-xlarge / 4);
    flex-shrink: 0;
    @include margin-y(0);
    @include padding-y(4);
    @include padding(left, 0);
    @include padding(right, 6);
  }
}
