/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-message {
    font-size: 15px;
    color: $grey-color;
    text-align: right;

    a {
        font-weight: normal;
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/**
 * Home page
 */
.home {
    .hero-panel {
        background: linear-gradient(to bottom, $grey-color-super-light 0%, $grey-color-light 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        padding: $spacing-unit / 2;
        margin-bottom: $spacing-unit;

        .hero-content {
            color: $grey-color-dark;
            font-size: $large-font-size ;
        }

        .hero-title {
            color: #000000;
            font-size: $large-font-size * 2;
            font-weight: bold;
        }
    }

    .panels-wrapper {
        margin-left: -$spacing-unit / 2;
        @extend %clearfix;
    }

    .panel {
        float: left;
        margin-bottom: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }

    .panel-col-1 {
        width: -webkit-calc(33% - (#{$spacing-unit} / 2));
        width:         calc(33% - (#{$spacing-unit} / 2));
    }

    .panel-col-2 {
        width: -webkit-calc(33% - (#{$spacing-unit} / 2));
        width:         calc(33% - (#{$spacing-unit} / 2));
    }

    .panel-col-3 {
        width: -webkit-calc(33% - (#{$spacing-unit} / 2));
        width:         calc(33% - (#{$spacing-unit} / 2));
    }

    @include media-query($on-palm) {
        .panel {
            float: none;
            width: -webkit-calc(100% - (#{$spacing-unit} / 2));
            width:         calc(100% - (#{$spacing-unit} / 2));
        }
    }

    a.front-link {
        color: #ffffff;
        display: inline-block;
        margin: ($spacing-unit / 2) 0;
        padding: ($spacing-unit / 4) ($spacing-unit / 2);
        background: linear-gradient(to bottom, $grey-color 0%, $grey-color-dark 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);

        &:hover {
            background-color: $grey-color-dark;
            background-image: none;
        }
    }

    .hero-panel a.front-link, .downloads-panel a.front-link {
        background: linear-gradient(to bottom, $brand-color-light 0%, $brand-color 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        &:hover {
            background-color: $brand-color-light;
            background-image: none;
        }
    }

    .hero-panel a.front-link { font-size: $large-font-size; }
}


/**
 * Special formatting
 */
.release-download {
    float: right;
    font-size: $large-font-size;
    margin: ($spacing-unit / 2) 0 ($spacing-unit / 2) ($spacing-unit / 2);    
    text-align: center;

    a {
        color: #ffffff;
        display: inline-block;
        padding: $spacing-unit / 2;
        background: linear-gradient(to bottom, $grey-color 0%, $grey-color-dark 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);

        &:hover {
            background-color: $grey-color-dark;
            background-image: none;
        }
    }
}