---
# Only the main Sass file needs front matter (the dashes are enough)
lunr_exclude: true
---
@charset "utf-8";


// Typography (used in utils/typography)
$base-font-family: Helvetica, Arial, Roboto, "Liberation Sans", sans-serif;
$monospace-font-family: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace;




$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #1144aa;
$brand-color-light: #4488ee;

$grey-color:       #888888;
$grey-color-light: #cccccc;
$grey-color-dark:  #666666;
$grey-color-super-light: #eeeeee;





// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "vendor/sanitize.css/sanitize",
  "vendor/sanitize.css/forms",
  "util/typography",
  "util/spacing",
  "util/media";

@import "legacy";

@import
        "base",
        "flexbox",
        "components",
        "syntax-highlighting"
;

