@charset "utf-8";

@use "sass:color";

// Colours
$text-color:       #111;
$code-background-color: rgba($text-color, 0.1);
$background-color: #fdfdfd;
$brand-color:      #1144aa;
$brand-color-light: #4488ee;
$brand-color-dark: color.adjust($brand-color, $lightness: -15%);

$grey-color:       #888888;
$grey-color-light: #cccccc;
$grey-color-dark:  #666666;
$grey-color-super-light: #eeeeee;

$blue-color-light: #ddeeff;
$blue-color: color.adjust($blue-color-light, $lightness: -50%);

$yellow-color-light: #ffffdd;
$yellow-color: color.adjust($yellow-color-light, $lightness: -60%); // Need a bit more for contrast

$red-color-light: #ffddee;
$red-color: color.adjust($red-color-light, $lightness: -50%);

// Import partials from `sass_dir` (defaults to `_sass`)
@use "vendor/sanitize.css/sanitize";
@use "vendor/sanitize.css/forms";

@use "util/typography" as *;

@use "base";
@use "layout";
@use "components";
@use "prismjs";

:root {
  --text-color: #{$text-color};
  --code-background-color: #{$code-background-color};
  --background-color: #{$background-color};
  --brand-color: #{$brand-color};
  --brand-color-light: #{$brand-color-light};
  --brand-color-dark: #{$brand-color-dark};

  --grey-color: #{$grey-color};
  --grey-color-light: #{$grey-color-light};
  --grey-color-dark: #{$grey-color-dark};
  --grey-color-super-light: #{$grey-color-super-light};

  --blue-color-light: #{$blue-color-light};
  --blue-color: #{$blue-color};

  --yellow-color-light: #{$yellow-color-light};
  --yellow-color: #{$yellow-color};

  --red-color-light: #{$red-color-light};
  --red-color: #{$red-color};
}
