---
# Only the main Sass file needs front matter (the dashes are enough)
lunr_exclude: true
eleventyExcludeFromCollections: true
---
@charset "utf-8";

@use "sass:color";

// Colours
$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #1144aa;
$brand-color-light: #4488ee;

$grey-color:       #888888;
$grey-color-light: #cccccc;
$grey-color-dark:  #666666;
$grey-color-super-light: #eeeeee;

$blue-color-light: #ddeeff;
$blue-color: color.adjust($blue-color-light, $lightness: -50%);

$yellow-color-light: #ffffdd;
$yellow-color: color.adjust($yellow-color-light, $lightness: -50%);

$red-color-light: #ffddee;
$red-color: color.adjust($red-color-light, $lightness: -50%);

$colors: ();

// Import partials from `sass_dir` (defaults to `_sass`)
@use "vendor/sanitize.css/sanitize";
@use "vendor/sanitize.css/forms";

@use "util/typography" as *;
@use "util/spacing" as *;
@use "util/media" as *;
@use "util/grid" as *;

@use "layout";
@use "prismjs";

@import  
  "base",
  "components";
