<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    
    {% unless page.hide_doc_header %}
    <nav class="doc-header" x-data="docHeader()" @click.away="open = false">
        <div class="wrapper">
            {% include doctree.html section_headings=3 title=true alpinejs=true %}
        </div>
    </nav>
    {% endunless %}

    <div class="page-content">
      <div class="wrapper">        
        <div class="sidebar">
          {% comment %} Sidebar here {% endcomment %}
        </div>
        <div class="post doc">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
          </header>

          {% if site.github.repository_url %}
          <div class="edit-docs">
          <a href="{% github_edit_link %}" title="Help improve our documentation!">Edit this page in GitHub</a>
          </div>
          {% endif %}

          <article class="post-content">
            {{ content }}
          </article>

        </div>
      </div>
    </div>

    {% include footer.html %}

    <script type="text/javascript">
        function docHeader() {
            return {
                open: false,

                title: {
                    ['@click']() {
                        this.open = !this.open;
                    }
                },

                sections: {
                    ['x-show']() {
                        return this.open;
                    }

                    // use transition: height .3s linear and height:0!important instread of display: none
                }
            }
        }

        anchors.add('.doc h2, .doc h3, .doc h4');
        anchors.remove('.doc-toc h4');
    </script>

  </body>

</html>
